.request-test-btn {
  margin: 10px;
}

.lanjieqi-logs {
  height: 300px;
  overflow: auto;
  padding: 10px;
  background-color: #aaa;
  margin: 10px;
  border-radius: 8px;

  span {
    display: block;
  }
}
