@import '../../shared/scss/pxToRem';

@function pixelToRem($number) {
  @return pxToRem($number)
}

.request-test-btn {
  margin: pixelToRem(10);
}

.lanjieqi-logs {
  height: pixelToRem(300);
  overflow: auto;
  padding: pixelToRem(10);
  background-color: #aaa;
  margin: pixelToRem(10);
  border-radius: pixelToRem(8);

  span {
    display: block;
  }
}
