@import '../../shared/scss/pxToRem';
@import '../../shared/scss/transitions';

@function pixelToRem($number) {
  @return pxToRem($number)
}

.header-body {
  width: 100%;
  height: pixelToRem(60);
  background-color: #222;
  position: relative;
  padding-left: pixelToRem(20);
  margin-right: pixelToRem(20);

  .header-wraper {
    height: pixelToRem(60);
  }

  .header-left {

    .logo {
      margin-right: pixelToRem(40);

      i {
        color: #fff;
        font-size: pixelToRem(40);
      }
    }

    nav.ul-list {

      ul.li-list {
        // overflow: hidden;

        li {
          @include transition(all, 300ms, linear);
          float: left;
          color: #fff;
          width: pixelToRem(110);
          text-align: center;
          background-color: #00a1ff;
          margin-left: pixelToRem(4);
          height: pixelToRem(30);
          line-height: pixelToRem(30);
          transform: skew(-30deg);
          cursor: pointer;

          &:hover {
            margin-top: pixelToRem(-2);
            box-shadow: pixelToRem(2) pixelToRem(2) pixelToRem(2) rgba(255, 255, 255, 1);
          }

          a,
          button {
            color: #fff;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: inline-block;

            &:hover {
              color: #fff !important;
              background-color: #0017ff;
            }
          }

          button {
            background-color: transparent;
          }
        }

        li:first-child {
          // margin-left: -.7rem;
        }

        li:last-child {
          // margin-right: -0.7rem;
        }

        .active {
          background-color: #fd0;
          width: 100%;
          height: 100%;
          display: inline-block;
          color: #000 !important;
        }

      }

    }
  }

  .header-right {
    text-align: right;
    user-select: none;
    padding-right: pixelToRem(20);
    cursor: pointer;

    .lineHeight {
      height: pixelToRem(60);
    }

    #i18n {
      margin-right: pixelToRem(20);

      .translate-test {
        color: #fff;
        margin-right: pixelToRem(20);
      }
    }

    .account-message {
      i {
        color: #fff;
        margin-right: pixelToRem(10);
      }

      span.name {
        color: #fff;
      }
    }

    .message-details {
      background-color: rgba(255, 255, 255, 1);
      border-radius: pixelToRem(5);
      width: pixelToRem(220);
      position: absolute;
      right: pixelToRem(10);
      border-radius: pixelToRem(5);
      padding: pixelToRem(5) pixelToRem(10);

      >i {
        position: absolute;
        top: pixelToRem(-25);
        font-size: pixelToRem(40);
        color: #fff;
        right: pixelToRem(10);
      }

      ul {
        li {
          border-bottom: pixelToRem(1) solid #000;
          font-size: pixelToRem(16);
          height: pixelToRem(50);
          line-height: pixelToRem(50);

          .account-name {
            display: inline-block;
            width: 30%;
            font-weight: 900;
            font-size: pixelToRem(16);
          }

          .name {
            font-size: pixelToRem(14);
          }

          .logout {
            font-weight: 900;
            text-align: center;
            width: 100%;
            display: inline-block;
          }
        }

        li:last-child {
          border: none;
        }
      }
    }


  }
}
