<div class="header-body">
  <div class="float-left header-left">
    <span style="height:60px;display:inline-block;vertical-align:middle;"></span>
    <div class="logo">
      <i class="fa fa-edge"></i>
    </div>

    <nav class="ul-list">
      <ul class="li-list">
        <li>
          <button (click)="routeTurn('/home/markdown')">markdown</button>
        </li>
        <li>
          <button (click)="routeTurn('/home/requestTest')">requestTest</button>
        </li>
        <li>
          <button (click)="routeTurn('/home/rxjs')">rxjs</button>
        </li>
        <li>
          <button (click)="routeTurn('/home/lodash')">lodash</button>
        </li>
        <li>
          <button (click)="routeTurn('/home/hero')">hero</button>
        </li>
        <!-- <li><a routerLink="/home/demo" routerLinkActive="active">demo</a></li> -->
        <!-- <li><a routerLink="/home/demo" routerLinkActive="active">demo</a></li> -->
        <!-- <li>home3</li>
        <li>home4</li>
        <li>home5</li> -->
      </ul>
    </nav>
  </div>
  <div class="float-right header-right">
    <div id="i18n">
      <span class="translate-test">{{ 'Download Now' | translate }}</span>
      <nz-dropdown>
        <a nz-dropdown style="color: #fff;"> change laguage
          <i nz-icon type="down"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('en')">
              {{ 'English' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('fr')">
              {{ 'French' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('ur')">
              {{ 'Urdu' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('es')">
              {{ 'Spanish' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('it')">
              {{ 'Italian' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('fa')">
              {{ 'Farsi' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('de')">
              {{ 'German' | translate }}
            </a>
          </li>
          <li nz-menu-item>
            <a href="javascript:void(0)" (click)="changeLang('zh-CHS')">
              {{ 'Simplified Chinese' | translate }}
            </a>
          </li>
        </ul>
      </nz-dropdown>
    </div>

    <span style="height: 60px;display: inline-block;vertical-align: middle;"></span>
    <div class="account-message" (click)='showUserDetails(isShowUserDetails)'>
      <i class="fa fa-angellist"></i>
      <span class="name">yangjun</span>
    </div>
    <div class="message-details" *ngIf='isShowUserDetails'>
      <i class="fa fa-caret-up "></i>
      <ul>
        <li>
          <span class="account-name">用户名:</span>
          <span class="name">yangjun</span>
        </li>
        <li>
          <span class="logout" (click)='logout()'>退出</span>
        </li>
      </ul>
    </div>
  </div>
</div>