<section class="hero">
  <ul>
    <ng-template ngFor let-item let-i=index [ngForOf]='heros'>
      <li>
        <ng-container *ngTemplateOutlet="mulStateBody; context: item"></ng-container>
      </li>
    </ng-template>
  </ul>
  <div class="test_appEllipsisMultiline" [appEllipsisMultiline]='testAppEllipsisMultiline'>{{testAppEllipsisMultiline}}
  </div>
</section>


<!-- ngTemplateOutlet 使用方法传入对象时需要定义字段，在模版中使用 ------start -->
<ng-template #mulStateBody let-value="value" let-id='id' let-content='content' let-name='name'>
  <div [attr.id]='id'>{{content}}---{{id}}---{{value}}----{{name}}</div>
</ng-template>
<!-- ngTemplateOutlet 使用方法传入对象时需要定义字段，在模版中使用 ------end -->


<!--  ngTemplateOutlet 模版中可以直接使用类中定义的参数，但给模版传参只能时对象，并且进行定义 start -->
<ng-container *ngTemplateOutlet="mulStateBody2; context: {data:heros}"></ng-container>

<ng-template #mulStateBody2 let-data='data'>
  {{data|json}}
  <br>
  {{data[0].id}}-----{{data[0].content}}
  <br>
  <ul>
    <ng-template ngFor let-item let-i=index [ngForOf]='data'>
      <li>
        <ng-container *ngTemplateOutlet="mulStateBody; context: item"></ng-container>
      </li>
    </ng-template>
  </ul>
</ng-template>
<!--  ngTemplateOutlet 模版中可以直接使用类中定义的参数，但给模版传参只能时对象，并且进行定义 end -->