@import '../../../scss/pxToRem';
@import '../../../scss/transitions';

@function pixelToRem($number) {
  @return pxToRem($number)
}

#sidebar-body {
  position: fixed;
  z-index: 1000;
  top: pixelToRem(60);
  left: pixelToRem(0);
  width: pixelToRem(235);
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
  bottom: 0;
  padding-bottom: pixelToRem(52);
  white-space: nowrap;
  @include transition(all, 200ms, ease-in-out);
  font-family: cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  // overflow-x: hidden;

  nav {
    height: 100%;
  }

  .nav-top {
    position: relative;
    height: pixelToRem(52);
    line-height: pixelToRem(52);

    title {
      display: block;
      font-size: pixelToRem(20);
      color: #fff;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      height: pixelToRem(43);
      box-sizing: border-box;
    }

    i {
      cursor: pointer;
      position: absolute;
      color: #fff;
      top: 0;
      line-height: pixelToRem(43);
      margin-left: pixelToRem(10);
    }
  }

  &:after {
    content: '<';
    position: absolute;
    top: 50%;
    right: 0;
    width: pixelToRem(20);
    height: pixelToRem(20);
    margin-top: pixelToRem(-20);
  }

  ul#catalog-details {
    color: red;
    // overflow: hidden;
    overflow-x: hidden;
    height: 100%;
    // background-color: rgba(255, 0, 0, 0.5);

    li {
      color: rgba(255, 255, 255, 0.8);

      div {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: pixelToRem(5) 0;
        padding-right: pixelToRem(22);

        .icon-isShow {
          position: absolute;
          right: pixelToRem(14);
        }

        &:hover {
          background-color: orange !important;
        }
      }


      .first-catalog {
        text-indent: pixelToRem(20);
        font-size: pixelToRem(18);
      }

      .second-catalog {
        // background-color: skyblue;
        text-indent: pixelToRem(40);
        font-size: pixelToRem(16);
      }

      .third-catalog {
        // background-color: sienna;
        text-indent: 3em;
        font-size: pixelToRem(16);
      }
    }
  }
}

.show-sideBar {
  position: absolute;
  top: pixelToRem(60);
  font-size: pixelToRem(34);
  height: pixelToRem(40);
  left: pixelToRem(10);
  color: green;
  animation-name: halo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  cursor: pointer;
  z-index: 1;
}

@keyframes halo {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1024px) {
  #sidebar-body {
    left: pixelToRem(-235);
  }
}
