@import '../../../scss/pxToRem';

@function pixelToRem($number) {
  @return pxToRem($number)
}


%setBackground {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#uploadFile {
  .progressUploadWraper {
    width: pixelToRem(100);
    height: pixelToRem(7);
    background-color: red;

    div {
      width: 0%;
      background-color: #000;
      height: 100%;
    }
  }

  .selected_list {
    position: relative;
    margin-top: pixelToRem(40);

    ul {
      width: pixelToRem(600);

      li:not(:last-child) {
        margin-bottom: pixelToRem(21);
      }

      li {
        padding: pixelToRem(20) 0;
        height: pixelToRem(40);

        .top {
          width: 90%;
          font-size: 0;
          letter-spacing: -4px;

          span {
            display: inline-block;
            vertical-align: middle;
          }

          .name {
            width: 70%;
            font-family: MicrosoftYaHeiUI;
            font-size: pixelToRem(16);
            color: #000000;
            letter-spacing: 0;
          }

          .size {
            width: 30%;
            opacity: 0.7;
            font-family: Gotham-Book;
            font-size: pixelToRem(16);
            color: #000000;
            letter-spacing: 0;
            text-align: right;
          }
        }

        .bottom {
          font-size: 0;
          letter-spacing: -4px;

          .upload_progress_wrap {
            display: inline-block;
            vertical-align: middle;
            width: 90%;
            height: pixelToRem(7);
            background: #D8D8D8;
            border-radius: pixelToRem(3.5);
            letter-spacing: 0;

            .upload_progress {
              width: 60%;
              height: 100%;
              background: #717C96;
              border-radius: pixelToRem(3.5);
            }
          }

          .delFileWrap {
            width: 10%;
            height: pixelToRem(18);
            display: inline-block;
            vertical-align: middle;
            text-align: center;
          }

          .del_file {
            position: relative;
            z-index: 10;
            width: 10%;
            cursor: pointer;
            display: inline-block;
            width: pixelToRem(18);
            height: pixelToRem(18);
            background-image: url('/assets/single_prediction/substract_normal.png');
            @extend %setBackground;
            background-size: auto 100%;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
