#sidebar-body {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 235px;
  width: 235px;
  margin-left: -235px;
  //   margin-bottom: 48px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 80px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  font-family: cursive;

  .nav-top {
    position: relative;

    title {
      display: block;
      font-size: 20px;
      color: #fff;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      height: 43px;
      box-sizing: border-box;
    }

    i {
      cursor: pointer;
      position: absolute;
      color: #fff;
      top: 0;
      line-height: 43px;
      margin-left: 0.5rem;
    }
  }

  &:after {
    content: '<';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20/20+rem;
    height: 20/20+rem;
    margin-top: -20/20+rem;
  }

  ul#catalog-details {
    color: red;
    // background-color: rgba(255, 0, 0, 0.5);

    li {
      color: rgba(255, 255, 255, 0.8);

      div {
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 0;
        padding-right: 1.1rem;

        .icon-isShow {
          position: absolute;
          right: 0.7rem;
        }

        &:hover {
          background-color: orange !important;
        }
      }


      .first-catalog {
        text-indent: 1em;
        font-size: 18px;
      }

      .second-catalog {
        // background-color: skyblue;
        text-indent: 2em;
        font-size: 16px;
      }

      .third-catalog {
        // background-color: sienna;
        text-indent: 3em;
        font-size: 16px;
      }
    }
  }
}

.show-sideBar {
  position: absolute;
  top: 0;
  font-size: 34px;
  height: 40px;
  left: 0.7rem;
  color: green;
  animation-name: halo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  cursor: pointer;
}

@keyframes halo {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1024px) {
  #sidebar-body {
    left: 0;
  }
}
