<div class="markdown-details-body-parent">
  <div id="markdown-details-body">
    <div id="content">
      <h1>{{title}}</h1>
    </div>
    <div class="close-code">
      <div class="row">
        <button class="btn btn-primary" style="float:right;margin-right: 1.2rem;"
          (click)='closeCode($event)'>点我折叠code</button>
        <div class="col-lg-2" style="float:right;">
          <div class="input-group">
            <input type="text" class="form-control" id='searchBoxMd' placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">&lt;</button>
              <button class="btn btn-default" type="button">&gt;</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <ng-template ngFor let-item [ngForOf]='curOption'>
      <div class="img-content" *ngIf='item.type=="img"'>
        <img [attr.src]='$any(item).imgSrc' [ngStyle]="$any(item).imgStyle" alt="">
      </div>
      <div class="md-content" id='md' *ngIf='item.type=="md"' [appMarked]='item'></div>
      <iframe class="iframe-content" id='iframe' *ngIf='item.type=="iframeHtml"'
        [attr.src]='$any(item).iframeSrc'></iframe>
    </ng-template>
    <!-- <img src="./assets/knowledge_img/team中國自.png" alt=""> -->
  </div>
</div>

<div class="call-top-parent">
  <div class="call-top" (click)='scrollTop()'>
    <p>回到</p>
    <p>顶部</p>
  </div>
</div>
