@import '../../shared/scss/pxToRem';

@function pixelToRem($number) {
  @return pxToRem($number)
}

.markdown-details-body-parent {
  padding-bottom: pixelToRem(60);
  height: 100%;
  width: 100%;
}

#markdown-details-body {
  background-color: rgba(255, 255, 255, 1);
  padding-left: pixelToRem(235);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: bisque;
  // overflow: hidden;
  overflow-x: hidden;

  #content {
    h1 {
      text-align: center;
      color: #00cccc;
      font-size: pixelToRem(40);
      padding: pixelToRem(20) pixelToRem(40) pixelToRem(30) pixelToRem(40);
    }
  }

  .close-code {
    padding-right: pixelToRem(10);
    padding-bottom: pixelToRem(10);
    text-align: right;
  }

  .img-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }


  .md-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 pixelToRem(10);
    background-color: bisque;
    padding-bottom: pixelToRem(20);

    ul li {
      &>code {
        display: inline-block !important;
        vertical-align: middle !important;
      }
    }
  }
}

.call-top-parent {
  position: fixed;
  bottom: pixelToRem(20);
  right: pixelToRem(24);

  .call-top {
    display: table-cell;
    vertical-align: middle;
    width: pixelToRem(80);
    height: pixelToRem(80);
    border: pixelToRem(1) solid #000;
    border-radius: pixelToRem(5);
    box-shadow: 0 0 pixelToRem(20) rgba(0, 204, 204, 1);
    cursor: pointer;
    user-select: none;
    font-size: pixelToRem(24);
    text-align: center;
    background-color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  #markdown-details-body {
    padding-left: 0;
  }
}
