@import './app/scss/pxToRem';

@function pixelToRem($number) {
  @return pxToRem($number)
}



.hero-profile {
  border: pixelToRem(1) solid gray;
  padding: pixelToRem(5);
  padding-bottom: pixelToRem(20);
  padding-left: pixelToRem(20);
  border-radius: pixelToRem(10);
  background-color: lightgreen;
  color: black;
}

.job-ad {
  border: pixelToRem(1) solid gray;
  padding: pixelToRem(5);
  padding-bottom: pixelToRem(20);
  padding-left: pixelToRem(20);
  border-radius: pixelToRem(20);
  background-color: lightblue;
  color: black;
}

.ad-banner-example {
  width: pixelToRem(400);
}
