@charset "utf-8";
@import './app/shared/scss/marked.scss';
@import './ad-banner';
@import './app/shared/scss/middle';
@import './app/shared/scss/font-family';



/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gotham-Medium';
  // font-family: cursive;
  background-color: bisque;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-size: 100%;
}

/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
  font-size: 18/20+rem;
}

body {
  p {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

fieldset,
img,
input,
button {
  /*fieldset组合表单中的相关元素*/
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul,
ol {
  list-style: none;
  /*清除列表风格*/
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12/20+rem;
  margin: 0;
  outline: none;
  outline-color: red;
}

textarea {
  resize: none;
}

/*防止多行文本框拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
  /*合并外边线*/
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

a {
  color: #666;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
}


s,
i,
em {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/
.fl {
  float: left
}

.fr {
  float: right
}

.al {
  text-align: left
}

.ac {
  text-align: center
}

.ar {
  text-align: right
}

.db {
  display: block;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}
