@font-face {
  font-family: "UnidreamLED";
  src: local("UnidreamLED"),
    local("UnidreamLED"),
    url("/assets/viewinfor/UnidreamLED/UnidreamLED.ttf") format("truetype"),
    url("/assets/viewinfor/UnidreamLED/UnidreamLED.svg#UnidreamLED") format("svg"),
    url("/assets/viewinfor/UnidreamLED/UnidreamLED.ttf") format("truetype"),
    url("/assets/viewinfor/UnidreamLED/UnidreamLED.woff") format("woff");
}

// 字体引入
@font-face {
  font-family: 'Gotham-Black';
  src: url('/assets/viewinfor/font/Gotham-Black.otf');
}

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('/assets/viewinfor/font/Gotham-BlackItalic.otf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/viewinfor/font/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('/assets/viewinfor/font/Gotham-BoldItalic.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('/assets/viewinfor/font/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('/assets/viewinfor/font/Gotham-BookItalic.otf');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('/assets/viewinfor/font/Gotham-Light.otf');
}

@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('/assets/viewinfor/font/Gotham-LightItalic.otf');
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('/assets/viewinfor/font/Gotham-MediumItalic.otf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/viewinfor/font/Gotham-Medium.otf');
}

@font-face {
  /* font-properties */
  font-family: 'Gotham-Thin';
  src: url('/assets/viewinfor/font/Gotham-Thin.otf');
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('/assets/viewinfor/font/Gotham-ThinItalic.otf');
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('/assets/viewinfor/font/Gotham-Ultra.otf');
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('/assets/viewinfor/font/Gotham-UltraItalic.otf');
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('/assets/viewinfor/font/Gotham-XLight.otf');
}

@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('/assets/viewinfor/font/Gotham-XLightItalic.otf');
}

@font-face {
  font-family: 'FZLTCXHJW';
  src: url('/assets/viewinfor/font/FZLTCXHJW.TTF');
}

@font-face {
  font-family: 'FZLTCXHJWOTF';
  src: url('/assets/viewinfor/font/FZLTCXHJW.otf');
}

@font-face {
  font-family: 'FZLTDHJW';
  src: url('/assets/viewinfor/font/FZLTDHJW.TTF');
}

@font-face {
  font-family: 'FZLTHJW';
  src: url('/assets/viewinfor/font/FZLTHJW.TTF');
}

@font-face {
  font-family: 'FZLTXIHJW';
  src: url('/assets/viewinfor/font/FZLTXIHJW.TTF');
}

@font-face {
  font-family: 'FZLTHJW';
  src: url('/assets/viewinfor/font/FZLTZHJW.TTF');
}
